ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="1", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/@USER/.Xauthority" RUN+="/usr/bin/su @USER -c '/home/@USER/.local/bin/dunst/charging 1'"
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="0", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/@USER/.Xauthority" RUN+="/usr/bin/su @USER -c '/home/@USER/.local/bin/dunst/charging 0'"
